html {
	height: 100%;
}

body {
	top: 0;
	margin: 0;
	padding: 0;
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", Roboto, "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
}

p {
	font-size: 15px;
	font-weight: normal;
	color: #4C4C4C;
}

#header {
	display: block;
	height: 85px;
	margin: 0 auto;
	padding: 0;
	border-bottom: 1px solid #D6D6D6;
	box-shadow: 0 2px 13px -4px #7D7D7D;
	overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 100%;
	background-color: #fff;
	z-index: 500;
}

#header-content, #main-contianer {
	width: 850px;
	min-height: 100%;
	margin: 0 auto;
}
#logo {
	display: block;
	float: left;
	width: 175px;
	margin-top: 6px;
	margin-right: 20px;
}	

#logo:hover {
	margin-top: 6px;
}

#logo-right-img{
	display: block;
	float: right;
	width: 70px;
	height: 70px;
	margin-top: 7px;
}

.menu-items {
	display: block;
	float: left;
	vertical-align: bottom;
	padding: 0;
	margin: 59px 20px 0 0;
	font-size: 13px;
	font-weight: bold;
	color: #909090;	
	text-decoration: none;
}

.menu-items:hover {
	text-decoration: underline;
	color: rgb(0,32,96); //#6C6C6C;
}

#info {
	position: fixed;
	top: 120px;
	left: 20px;
	width: 230px;
//	border: 1px solid black;
//	height: 400px;
//	background-color: red;
	float: left
	padding-bottom: 10px;
}

#notes-header {
	display: block;
	width: 100%;
	line-height: 50px;
	text-align: center;
	font-weight: bold;
	background-color: #9C9C9C;
	margin: 0;
	padding: 0;
	color: rgb(0,32,96);
}

img.author_img {
    width: 90px;
    height: 90px;
//    margin: 0 auto;
	margin-left: 10px;
	margin-top: 10px;
    display: block;
    border-radius: 10px;
}

p.name  {
	display: block;
	color: #6C6C6C;
	text-align: left;
	margin: 0;
	padding: 0;
	padding-left: 10px;
	padding-top: 5px;
	font-size: 17px;
	font-weight: bold;
}

p.expertise  {
	display: block;
	color: #7C7C7C;
	margin: 0;
	padding: 0;
	font-size: 13px;
	text-align: justify;
	margin-left: 10px;
	margin-right: 10px; 
}

.info-references {
	display: block;
	float: left;
	clear: both;
	color: #7C7C7C;
	font-size: 14px;
	padding: 5px 0 5px 5px;
	text-decoration: none;
}

fa-linkedin-square:hover {
	color: blue;
}

#info-center {
	display: block;
	width: 100%;
//	border: 1px solid black;
	overflow: hidden;
	box-shadow: 0px 1px 1px gray, 
        -1px 1px 5px gray, 2px 3px 10px gray;
}

#info-center-header {
	width: 100%;
	height: 40px;
	background: linear-gradient(#D8D8D8, #CCCCCC, #D8D8D8);
	border: 1px solid #C8C8C8;
}

#info-center-header  p#per-info-tag {
	display: black;
	float: left;
	margin: 0;
	padding: 0;
	font-size: 16px;
	color: #6C6C6C;
	font-weight: bold;
	line-height: 37px;
	margin-left: 5px;
}

#info-center-header p#plus-minus {
	font-size: 24px;
	color: #6C6C6C;
	font-weight: bold;
	margin: 0;
	padding: 0 ;
	line-height: 36px;
	display: block;
	float: right;
	margin-right: 5px;
}

#container-body {
	display: block;
	width: 850px;
	margin: 0 auto;
//	border: 1px solid black;	
	margin-top: 100px;
	padding-top: 15px;
	padding-right: 10px;
}

p.keywords {
	display: block;
	margin: 25px 5px 15px 0px;
	padding: 10px 5px 10px 5px;
	border-radius: 2px;
	background-color: #DAF7F3;
	font-size: 13px;
	margin-right: 5px;
	
}

.contents-paragraph {
	margin-right: 0px;
	padding-right: 0px;
	text-align: justify !important;
}

.banner {
	display: black;
	width: 850px;
	height: 320px;
	margin: 0 auto;
	border-radius: 10px;
//	margin-top: 15px;
//	margin-bottom: 20px;
	overflow: hidden;
//	box-shadow: 0px 1px 1px gray, 
//        -1px 1px 5px gray, 2px 3px 10px gray;
}

.banner img {
	width: 850px;
	height: 320px;
}

#slideshow { 
    margin: 5px auto; 
    position: relative; 
	margin-bottom: 10px;
}

#slideshow > div { 
    position: absolute; 
    top: 0px; 
    left: 0px; 
    right: 0px; 
    bottom: 0px; 
}

#footer {
	clear: both;
	display: block;
	width: 100%;
	height: 150px;
	background-color: #3F3F3F;
	margin-top: 10px;
}

